<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%=title%></title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">

	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/angular.js"></script>
</head>
<body>
	<div class="container">
		<div class="container">
			<div class="col-sm-2"></div>
			<div class="col-sm-8">
				<form action="" method="POST" role="form">
					<legend>Edit User</legend>
				
					<div class="form-group">
						<label for="">Name</label>
						<input name="user[name]" type="text" class="form-control" id="" placeholder="Input text here">
					</div>
					<div class="form-group">
						<label for="">Age</label>
						<input name="user[age]" type="number" class="form-control" id="" placeholder="Input text here">
					</div>
					<div class="form-group">
						<label for="">Address</label>
						<input name="user[address]" type="text" class="form-control" id="" placeholder="Input text here">
					</div>

				
					
				
					<button name="btnEdit" type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
			<div class="col-sm-3"></div>
		</div>
	</div>

	<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>